# Java class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Workaround for https://issues.apache.org/jira/browse/MNG-6959
**/src/main/resources/archetype-resources/src/main/resources/**/target/

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux files
*~

# JPA specific
*.h2.db
*.mv.db
*.derby.db

# Local environment variables and settings
.env
